[user]
	name = H. Utku Unlu
	email = utku@utkuunlu.com
	signingkey = 545BEA36A8B17F32!
[core]
	editor = nano
[color]
	ui = true
[color "grep"]
	linenumber = yellow bold
	match = red
	filename = magenta
[init]
	defaultBranch = main
[format]
	pretty = oneline
[push]
	default = simple
[submodule]
	recurse = true
[protocol "file"]
	allow = always
[commit]
	gpgsign = true
